.toggle-switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 24px;
    background-color: hsl(213, 96%, 18%);
    border-radius: 12px;
    cursor: pointer;
}

.toggle-switch::before {
    content: "";
    position: absolute;
    top: 4.5px;
    left: 4px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

input[type="checkbox"]:checked+.toggle-switch::before {
    transform: translateX(18px);
    background-color: white;
}