@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box
}

p,
h1,
h2,
label,
span {
    @apply text-marineBlue;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./assets/fonts/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu Medium';
    src: url('./assets/fonts/Ubuntu-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu Bold';
    src: url('./assets/fonts/Ubuntu-Bold.ttf') format('truetype');
}

p, h1, h2, label, input, button, span{
    @apply font-ubuntu;
}


@layer utilities {
    .w-60rem {
        width: 60rem;
    }

    .h-37\.5rem {
        height: 37.5rem;
    }

    .w-30per{
        width: 30%;
    }

    .w-70per{
        width: 70%;
    }

    .p-page{
        padding: 2.5rem 5rem 0 5rem;
    } 
}